@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*
body {
    background-image: url("https://i.pinimg.com/564x/71/95/14/719514935f878a61317cfb3053661eb1.jpg");
    background-position: center; 
    /* background-repeat: no-repeat; 
    background-size: cover;
    height: 100%;
}

*/

.draw-border {
    box-shadow: inset 0 0 0 2px #FFFF;
    color: #FFFF;
    -webkit-transition: color 0.25s 0.0833333333s;
    transition: color 0.25s 0.0833333333s;
    position: relative;
  }
  .draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
  }
  .draw-border::before {
    border-bottom-width: 2px;
    border-left-width: 2px;
  }
  .draw-border::after {
    border-top-width: 2px;
    border-right-width: 2px;
  }
  .draw-border:hover {
    color: rgb(239 68 68);
  }
  .draw-border:hover::before, .draw-border:hover::after {
    border-color: rgb(239 68 68);
    -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
  }
  .draw-border:hover::before {
    -webkit-transition-delay: 0s, 0s, 0.25s;
            transition-delay: 0s, 0s, 0.25s;
  }
  .draw-border:hover::after {
    -webkit-transition-delay: 0s, 0.25s, 0s;
            transition-delay: 0s, 0.25s, 0s;
  }
  
  .btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1rem 'Roboto Slab', sans-serif;
    padding: 1rem 1rem;
    letter-spacing: 0.05rem;
  }
